<!DOCTYPE html>
<html>
<head>
  <title>{{ application_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="index, follow">
  <meta name="description" content="The Neverending Exploration is an index to keep myself learning something new and useful everyday">
  <meta name="keywords" content="dindasigma, dinda sigmawaty, the neverending exploration">
  <meta name="author" content="dindasigma">
  
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ application_name }}">
  <meta property="og:url" content="https://neverending.dindasigma.com/">
  <meta property="og:description" content="The Neverending Exploration is an index to keep myself learning something new and useful everyday">
  <meta property="og:site_name" content="{{ application_name }}">
  <meta property="og:image" content="{{ assets_url }}/img/logo.jpg">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="101">
  <meta property="og:image:height" content="101">

  <!-- Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assets_url }}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ assets_url }}/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ assets_url }}/img/favicon-16x16.png">
  
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ assets_url }}/css/foundation.min.css">
  <link rel="stylesheet" href="{{ assets_url }}/css/app.css">
</head>
<body>
  <div class="about grid-container">
    <div class="grid-x grid-padding-x">
      <div class="small-1 medium-3 large-3"></div>
      <div class="small-10 medium-6 large-6">
          <div class="content">
            <div class="logo"></div>
            <p>The Neverending Exploration is an index to keep <a href="https://dindasigma.com" target="_blank" title="myself">myself</a> learning something new and useful day by day. Importantly, making sure I do not forget it. <br><br>You can take part in the discussion or suggest some interesting topics to learn. <br>Please never hesitate to <a href="mailto:hi@dindasigma.com">mail me</a>.
          </div>
          <div class="pageofcontent">
            <ul class="parent">
              {% set month = '' %}
              {% set year = '' %}
              {% for row in list %}
                {% set time = row.1 |split(' ') %}
                {% if month == '' or month != time.1 %}
                  {% set month = time.1 %}
                  <li class="month a v">
                    <div class="title">
                      {% if year == '' or year != time.2 %}
                        {{ time.2 }}
                      {% endif %}
                    </div>
                    <div class="date">{{ month }}</div>
                  </li>
                  {% set year = time.2 %}
                {% endif %} 
                <li class="article {{ row.4 }}">
                  <a href="{{ row.3 }}" data-link="{{ row.3 }}" target="_blank">
                    <div class="title">{{ row.2 }}</div>
                    <div class="date">{{ time.0|number_with_suffix }}</div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
      </div>
      <div class="small-1 medium-3 large-3"></div>
    </div>
  </div>
    <div class="select">
        <h4>select</h4>
        <a class="button active" id="all">all</a>
        {% for row in categories %}
          <a class="button" id="{{ row.2 }}">{{ row.1 }}</a>
        {% endfor %}
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144210783-1"></script>
    <script type="text/javascript" src="spreadsheet-api/../assets/js/app.js"></script>
</body>
</html>