<!DOCTYPE html>
<html>
<head>
  <title>{{ meta.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="robots" content="index, follow">
  <meta name="description" content="{{ meta.description }}">
  <meta name="author" content="dindasigma">
  
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ application_name }}">
  <meta property="og:url" content="{{ meta.url }}">
  <meta property="og:description" content="{{ meta.description }}">
  <meta property="og:site_name" content="{{ application_name }}">
  <meta property="og:image" content="{{ assets_url }}/img/logo.jpg">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="101">
  <meta property="og:image:height" content="101">

  <!-- Icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assets_url }}/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ assets_url }}/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ assets_url }}/img/favicon-16x16.png">
  
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ assets_url }}/css/foundation.min.css">
  <link rel="stylesheet" href="{{ assets_url }}/css/app.css">
</head>
<body>

  <div class="grain"></div>
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium-5 large-5 about-container">
      <div class="about">
          <div class="logo"></div>
          <h3>{{ meta.title }}</h3>
          <p>
              {{ meta.about|raw }}
          </p>

          <div class="select">
              <ul>
                
                {% for row in categories %}
                <li class="{{ row.2 }}">
                  <a class="button"><span class="symbol-list">{{ row.3 }}</span><span class="label">{{ row.1 }}</span></a>
                </li>
                {% endfor %}
                
                <li class="all">
                  <a class="button active"><span class="symbol-list">∖</span><span class="label">all</span></a>
              </li>
              </ul>
          </div>
      </div>
    </div>
    <div class="small-12 medium-7 large-7">
      <div class="links">
        <ul>
          {% set month = '' %}
          {% set year = '' %}
          {% for row in list %}
            {% set time = row.1 |split(' ') %}
            {% if month == '' or month != time.1 %}
              {% set month = time.1 %}
              <div class="seperator">
                {% if year == '' or year != time.2 %}
                  <h3 class="year">
                    <span>{{ time.2 }} – </span>
                  </h3>
                {% endif %}
                <h3 class="month">
                  <span>{{ month }}</span>
                </h3>
              </div>
              {% set year = time.2 %}
            {% endif %}

            <li class="{{ row.4 }}">
              <a href="{{ row.3 }}" target="_blank" title="{{ row.2 }}">
                <div class="category"></div>
                <div class="title">
                  <h4>{{ row.2 }}</h4>
                </div>
                <div class="date">
                  <span>{{ time.0|number_with_suffix }}</span>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
        <footer>       
          <p>
            <img src="https://assets.dinda.id/img/logo.png" alt="dinda sigmawaty">
            <br><br>
            <a class="bold" href="mailto:hello@dinda.id" title="say hi" target="_blank">hello@dinda.id</a>
            <br> <br>
            <a class="" href="https://github.com/dindasigma/the-neverending-exploration" title="github" target="_blank">↗ this project repository</a> | 
            <a class="" href="https://waktu.dinda.id" title="garis waktu" target="_blank">↗ my another awesome project</a>
          </p>
        </footer>
      </div>
    </div>
  </div>
   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144210783-1"></script>
    
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ assets_url }}/js/app.js"></script>
</body>
</html>